sqlalchemy
psycopg2-binary
alembic

python-dotenv

pwdlib
PyJWT

python-multipart

cloudinary

langchain
langgraph

langchain-google-genai

langchain-qdrant
qdrant-client

pymupdf

pydantic-settings

httpx

orjson

loguru

python-magic

aiofiles